.App {
 color:darkslategray
}

.parent{
    display: flex;

}
.left{
    flex: 0 0 15%;
    background-color: azure;

}


.right{
    flex: 1;

}

.p_wrap{
    white-space: pre-line;
}

.listLeft{
    
    float:left;
    background-color: aqua;
}

.listRight{
    background-color:lightblue
}

.inputDivContainer
{
  display:flex;
  align-items: top;
}
.keyInput{

}