.App {
 color:darkslategray
}

.parent{
    display: flex;

}
.left{
    flex: 0 0 15%;
    background-color: azure;

}

.right{
    flex: 1;
}

.brick{
    white-space: pre-line;
}

.description{
    font-weight:700;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 0px;
}

.listLeft{
    float:left;
    background-color: aqua;
}

.listRight{
    background-color:lightblue
}

.inputDivContainer
{
  display:flex;
  align-items: top;
}
.keyInput{
    width: 100%;
}

.valueInput{
    width: 100%;
}